.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main > .container {
  max-width: 50rem;
  display: flex;
  flex-direction: column;
}
