.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.invite {
    max-width: 50rem;
    display: flex;
    flex-direction: column;
}
.invite blockquote {
    border: 1px solid #eee;
    border-left: 5px solid #999;
    padding: 0.5rem;
    border-radius: 0.25rem;
    margin-left: 0;
    padding-left: 2rem;
}
.invite blockquote p:last-child {
    margin-bottom: 0;
}
.signupForm {
    max-width: 40rem;
    margin: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.signupForm textarea {
    height: 10rem;
}